@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

p {
    font-size: 90%;
}

h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;

} 

/-----------------------------------------------------------*header*/

ul {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    
}

#logo {
    float: left;
    font-size: 280%;
    text-transform: uppercase;
    margin-left: 50px;

}

#logo,
#menu {
    line-height: 150px;
}


nav li {
    float: right;
    margin-right: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/*-----------------------------------------------------ALi image */

#ali-image {
    height: 1000px;
    width: 100%;
    background: url("../images/ali1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

}

#cover-text,
#cover-text h2 {
    color: #ffffff;
    
    

}
#cover-text {

    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 3px;
    

    

    /* background-color: rgba(241, 109, 107, .7);*/

    
    bottom: 400px;
    right: 450px;
    position: absolute;
}

/* ----------------------------------------------------------meet-me */

#meet-me {
    height: 200px;
    margin-top: 20px;
    text-align: center;
    background-color: #e2e2e2;
}
